#about {
    /* background-image: url('../img/download.png'); */
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    /* background-image:linear-gradient(rgba(250,250,250, 0.3),
       rgba(250,250,250, 0.6)), url('../img/download.png');  */
}

#about .about {
    width: 100%;
    display: flex-root;
    align-items: center;
    justify-content: center;
    max-width: 1700px;
    margin: 0 auto;
    padding: 70px 0;
}

.about-bottom {
    padding-top: 20px;
    min-width: none;
}